.categoryName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
  @media only screen and (min-width: 900px) {
    font-size: 1.5rem;
  }
  &__active {
    font-size: 1rem;
    background-color: hsla(0, 0%, 100%, 0.6);
    @media only screen and (min-width: 900px) {
      font-size: 1.5rem;
    }
  }
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.6);
  }
}
