.allFolders {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  gap: 2rem;
  @media only screen and (min-width: 600px) {
    width: 100%;
  }
  @media only screen and (min-width: 1600px) {
    width: 50%;
  }
  .productContainer {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    .categorySubHeader {
      font-size: 0.8rem;
      @media only screen and (min-width: 900px) {
        font-size: 1.5rem;
      }
    }
    .folderIcon {
      -webkit-user-drag: none;
      display: flex;

      width: 50px;
      height: 50px;
      @media only screen and (min-width: 900px) {
        width: 200px;
        height: 200px;
      }
    }
    .loginIcon {
      -webkit-user-drag: none;
      display: flex;
      @media only screen and (min-width: 900px) {
        width: 200px;
        height: 200px;
      }
    }
    .logoutIcon {
      -webkit-user-drag: none;
      display: flex;
      width: 100px;
      height: 100px;
      @media only screen and (min-width: 900px) {
        width: 200px;
        height: 200px;
      }
    }
  }
}
